#about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    font-family: sans-serif;
}

#about .content,
#about .Imega {
    width: 50%;
    height: fit-content;
    margin-top: 500px;
}

#about .Imega {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.as{
    margin-bottom: 200px;
}
.ii {
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 260px;
    bottom: -700px;
}
.i {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 90px;;
    position: relative;
    top: 70px;
    position: relative;
    animation-iteration-count: infinite;
    animation-name: animatsiya;
    animation-duration: 7s;

}
@keyframes animatsiya {
    0% {
        transform: scale(90%)
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(90%)
    }
}